.amethyst{
	background: linear-gradient(#9D50BB, #6E48AA);
}

.red-mist{
	background: linear-gradient(#34e89e, #0f3443);
}

.shadow-night{
	background: linear-gradient(#457fca,#5691c8);
}

.ash{
	background: linear-gradient(#606c88,#3f4c6b);
}

.twitch{
	background: linear-gradient(#6441A5,#2a0845);	
}

.fog{
	background: linear-gradient(#B993D6,#8CA6DB);	
}

.strain{
	background: linear-gradient(#870000,#190A05);	
}

.firewatch{
	background: linear-gradient(#cb2d3e,#ef473a);	
}

.purple{
	background: linear-gradient(#41295a,#2F0743);	
}

.sunset{
	background: linear-gradient(#ee0979,#ff6a00);	
}

